# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  create:
    tags:
      - "/^v\\d+\\.\\d+\\.\\d+(-(alpha|beta|rc)(\\.\\d+)?)?$/"
  schedule:
  - cron: "0 0 * * *"

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.9]
        exclude:
          - os: macos-latest
            python-version: 3.9
          - os: windows-latest
            python-version: 3.9
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/app.txt -r requirements/test.txt
        pip install -e .[TEST]
    - name: Test with pytest
      run: |
        coverage run --branch --source yamliny -m pytest tests
        coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
          fail_ci_if_error: false
          file: ./coverage.xml

